/*
Referências: https://www.w3schools.com/css/css3_variables_javascript.asp
https://www.w3schools.com/html/html_form_attributes.asp
https://pt.stackoverflow.com/questions/306843/como-criar-um-input-color-bacana
*/

:root {

  --first-color : black;

  --second-color : blue;

  --third-color: green;

  --fourth-color: red;

  --selected-color: var(--first-color);

  --background-color: white;

  --size : 40;
}

.color , .pixel , .current{
  height: var(--size);
  width: var(--size);
  background-color: var(--background-color);
  display: inline-block;
}

.color {
  margin-right: 3px;
  padding: 0;
  cursor: pointer;
  border: 0 none;

}

.color:focus{
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.pixel {
  margin : -2px;
  border: solid 1px black;
  background-color: var(--background-color);
}

.current {
  background-color: var(--selected-color);
  margin-left : 20px;
}

#pixel-board {
  margin-left: 2px;
}

#color-palette {
  display: inline-block;
  margin-bottom: 10px;
}

#clear-board {
  margin-bottom: 10px;
  text-align: center;
}

#board-size {
  width:40px;
}
